---

---
## Tarefa 3.3 - Análise Exploratória e Estatística Descritiva

Esta tarefa consiste em praticar a manipulação de um *dataframe* por meio da biblioteca Pandas e explorar por meio de métodos de descrição paramétrica (medidas estatísticas) o conjunto de dados *Hourly Wages*.

Você deve implementar em Python os itens solicitados abaixo utilizando a biblioteca Pandas e outras que forem necessárias. 

---



---

## Conjunto de dados *Hourly Wages*

Esse conjunto de dados é popularmente empregado para a tarefa de regressão em Machine Learning. Constrói-se e ajusta-se um modelo de aprendizado de máquina para predizer/estimar o salário de um funcionário em função de suas características (anos de estudos, experiência de trabalho, filiação sindical, região, ocupação e sexo). 

- Número de Instâncias: 534

- Número de Atributos: 9 atributos numéricos e o target (*wage_per_hour*)

- Informações dos Atributos:
  - union (filiação sindical)
  - education_yrs (anos de instrução)
  - experience_yrs (anos de experiência)
  - age (idade)
  - female (sexo)
  - marr (estado civil - casado)
  - south (região)
  - manufacturing (indústria)
  - construction (construção)

  
- Variável de destino (target): wage_per_hour

## Implementar os itens abaixo:

#### a-) Clonar o repositório de dados da disciplina (DSBD) hospedado no GitHUb.

In [2]:
!git clone https://github.com/malegopc/DSBD/

Cloning into 'DSBD'...
remote: Enumerating objects: 372, done.
remote: Counting objects: 100% (372/372), done.
remote: Compressing objects: 100% (349/349), done.
remote: Total 372 (delta 171), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (372/372), 6.15 MiB | 5.13 MiB/s, done.
Resolving deltas: 100% (171/171), done.

#### b-) Ler o dataset "*Hourly_wages/hourly_wages.csv*" como dataframe utilizando a biblioteca Pandas e mostrar as 5 primeiras e as 5 últimas linhas do dataset.

In [3]:
import pandas as pd
tabela = pd.read_csv('DSBD/Datasets/Hourly_wages/hourly_wages.csv')
tabela

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
529,11.36,0,18,5,29,0,0,0,0,0
530,6.10,0,12,33,51,1,1,0,0,0
531,23.25,1,17,25,48,1,1,0,0,0
532,19.88,1,12,13,31,0,1,1,0,0
533,15.38,0,16,33,55,0,1,0,1,0

#### c-) Verificar se há dados vazios (null) e imprimir o tipo de cada variável/atributo.

In [5]:

vazio = tabela.empty
print(vazio)
print(type(tabela), "\n")
tabela.isnull().sum()

False
<class 'pandas.core.frame.DataFrame'>

wage_per_hour     0
union             0
education_yrs     0
experience_yrs    0
age               0
female            0
marr              0
south             0
manufacturing     0
construction      0
dtype: int64

#### d-) Obter um resumo da estatística descritiva dos dados utilizando um único comando (função).

In [ ]:
tabela.describe()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
count,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000
mean,9.024064,0.179775,13.018727,17.822097,36.833333,0.458801,0.655431,0.292135,0.185393,0.044944
std,5.139097,0.384360,2.615373,12.379710,11.726573,0.498767,0.475673,0.455170,0.388981,0.207375
min,1.000000,0.000000,2.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.250000,0.000000,12.000000,8.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.780000,0.000000,12.000000,15.000000,35.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,11.250000,0.000000,15.000000,26.000000,44.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,44.500000,1.000000,18.000000,55.000000,64.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#### e-) Calcule a proporção de funcionários de sexo masculino e feminino.

In [13]:
print("Apresenta o Valor em Decimal\n")
tabela.value_counts("female")/534

Apresenta o Valor em Decimal

female
0    0.541199
1    0.458801
dtype: float64

#### f-) Calcule a proporção de casados e solteiros.

In [14]:
print("Apresenta o Valor em Decimal\n")
tabela.value_counts("marr")/534

Apresenta o Valor em Decimal

marr
1    0.655431
0    0.344569
dtype: float64

#### g-) Calcule a proporção de funcionários filiados ao sindicato (union).

In [16]:
print("Apresenta o Valor em Decimal\n")
tabela.value_counts("union")/534

Apresenta o Valor em Decimal

union
0    0.820225
1    0.179775
dtype: float64

#### h-) Calcule as medianas de cada uma das variáveis: anos de educação, anos de experiência e idade.

In [21]:
print(("Mediana:"),("\n\t\tanos de educação"),tabela["education_yrs"].median(),
      ("\n\t\tanos de experiência"),tabela["experience_yrs"].median(),
      ("\n\t\tidade"),tabela["age"].median())

Mediana:
		anos de educação 12.0
		anos de experiência 15.0
		idade 35.0

####i-) Calcule as modas de cada uma das variáveis: anos de educação, anos de experiência e idade.

In [23]:
tabela.mode()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.0,0.0,12.0,14.0,32.0,0.0,1.0,0.0,0.0,0.0
1,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

####j-) Calcule o percentil 90 da variável idade.

In [24]:
tabela.age.quantile(0.9)

55.0

####k-) Calcule o percentil 10 da variável anos de experiência.

In [25]:
tabela.experience_yrs.quantile(0.1)

3.0

####l-) Determine qual atributo apresenta maior variabilidade dentre os atributos: anos de educação, anos de experiência e idade.

In [33]:
tabela.std()

wage_per_hour      5.139097
union              0.384360
education_yrs      2.615373
experience_yrs    12.379710
age               11.726573
female             0.498767
marr               0.475673
south              0.455170
manufacturing      0.388981
construction       0.207375
dtype: float64

In [34]:
print("\nO que apresenta maior variação é o de experience_yrs, ou anos de eperiência.")

O que apresenta maior variação é o de experience_yrs, ou anos de eperiência.